##Sets
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [6]:
print(type({}))        #default type is dict
type({1})       #But when element is assigned its type changes to set

<class 'dict'>

set

In [19]:
# Curley {} braces is used for creating set like [] is used for list
a = {1,2,3,4,5,"Prabin"}      # method 1 by {} braces: to create set
print(type(a))
print(a)

b = set([5,6,7,8,9,9,9])      # method 2 by using class set: to create set here we inserted dup values but set dosent conatain dup values 
print(type(b))
print(b)
len(b)                        # duplicate element is removed by default

<class 'set'>
{1, 2, 3, 4, 5, 'Prabin'}
<class 'set'>
{5, 6, 7, 8, 9}

5

In [21]:
## Defining an empty set

mySet = set()
print(mySet)
type(mySet)

set()

set

In [28]:
mySet = {"Prabin","Rabin","Dino","Prabin","Rabin"}
print(mySet)     # Set will not have dup element when we output it Note: it has ordred/sorted itself

mySet1 = {9,8,5,4,3,9,8,5,4}
mySet1

{'Dino', 'Rabin', 'Prabin'}

{3, 4, 5, 8, 9}

In [26]:
# suppose we want to access first element of set
mySet[0]

TypeError: 'set' object is not subscriptable

In [27]:
lst = [1,2,3,4,5]
lst[0]

1

In [30]:
for i in mySet:
    print(i)

Dino
Rabin
Prabin

From above we can infer that list is subscriptable but set is not.
But, we can iterate through the elements of sets.Since, we cannot access elements of set so, we cannot change/assign items of the set

In [55]:
# Differnt methods of set:-
mySet.add("Ram")          #Once a set is created, you cannot change its items, but you can remove items and add new items.
mySet.add("Attikinson")
mySet.remove("Ram")
mySet

{'Attikinson', 'Dino', 'Prabin', 'Rabin'}

In [66]:
setx = {"Apple","Mango","Banana"}
sety = {"Apple","Mango","Banana","Black","Green","Red","Apple"}
setz = setx.union(sety)
setz

{'Apple', 'Banana', 'Black', 'Green', 'Mango', 'Red'}

In [78]:
a = setx.difference(sety)             # will return empty set
print(a)
sety.difference(setx)                 # Will return the unmatching elements

set()

{'Black', 'Green', 'Red'}

In [71]:
x = sety.intersection(setx)                   # this will not update sety it will print/output items only
print(x)
sety

{'Banana', 'Apple', 'Mango'}

{'Apple', 'Banana', 'Black', 'Green', 'Mango', 'Red'}

In [64]:
sety.intersection_update(setx)                 # this will print+update the set with intersected items
sety                                           ## List can be typecast to set & we can find common elements in the list.

{'Apple'}

In [80]:
setx = {"Apple","Mango","Banana"}
sety = {"Apple","Mango","Banana","Black","Green","Red","Apple"}

print(sety.issuperset(setx))
print(setx.issuperset(sety))

True
False

In [83]:
print(sety.issubset(setx))
setx.issubset(sety)

False

True

### Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [15]:
dic = {}
print(type(dic))
myDic = dict()                    #creating dictionary with method
type(myDic)

<class 'dict'>

dict

In [16]:
# How we create set
setEg = {1,2,3,4,5}
setEg

{1, 2, 3, 4, 5}

In [17]:
# Creating Dictionary
myDict = {"Fname":"Prabin","Lname":"Bhagat","Skill":"Python,C#,VB.Net"}
myDict

{'Fname': 'Prabin', 'Lname': 'Bhagat', 'Skill': 'Python,C#,VB.Net'}

In [60]:
myDict["Skill"]       # Accessing values throw indexing of keys

'Python,C#,VB.Net'

In [105]:
myDict.values()

dict_values(['Prabin', 'Bhagat', 'Python,C#,VB.Net', 'SMU'])

In [61]:
for i in myDict:       # This will loop through all the keys of dictionary
    print(i)

Fname
Lname
Skill

In [63]:
# Suppose I want to loop through dictionary only the values then:
for i in myDict.values():
    print(i)

Prabin
Bhagat
Python,C#,VB.Net

In [92]:
# Now i want to see all the keys with its corresponding values then
for i in myDict.items():
    print(i)

('Fname', 'Prabin')
('Lname', 'Bhagat')
('Skill', 'Python,C#,VB.Net')
('College', 'SMU')

In [99]:
# Adding items in dictionaries
myDict['Collage'] = "SMU"
myDict

{'Fname': 'Prabin',
 'Lname': 'Bhagat',
 'Skill': 'Python,C#,VB.Net',
 'College': 'SMU',
 'Collage': 'SMU'}

In [97]:
myDict.pop("Collage")    # I want to delete the Collage key value pair
myDict                   # We can also use del keyword to remove items eg del myDict["Collage"]

{'Fname': 'Prabin',
 'Lname': 'Bhagat',
 'Skill': 'Python,C#,VB.Net',
 'College': 'SMU'}

In [102]:
myAnotherDict = {1:'Bat',2:'Rat',3:'Cat',4:"Dog",5:777,7:True}
print(myAnotherDict)     # myanotherDict.clear(): clear method will empty the dictionary

{1: 'Bat', 2: 'Rat', 3: 'Cat', 4: 'Dog', 5: 777, 7: True}

In [103]:
# Now i want to del a Dictionary completly then
del myAnotherDict
print(myAnotherDict)   # this will result in erro as we have deleted dictionary and now we are try to access it

NameError: name 'myAnotherDict' is not defined

### Nested Dictionaries

In [110]:
myCar1 = {'Range Rover':1960}
myCar2 = {'BMW':1949}
myCar3 = {'Merecedes':1947}
myCars = {1:myCar1,2:myCar2,3:myCar3}
myCars

{1: {'Range Rover': 1960}, 2: {'BMW': 1949}, 3: {'Merecedes': 1947}}

In [113]:
print(myCars[2])
myCars[1]['Range Rover']         #This will print the value for given key of a nested dictionary

{'BMW': 1949}

1960

### Tuples
Use when you dont want to change values after defination

#### Note Braces for Default Data Structures:
1. List = [ ]
2. Sets = { }
3. Dict = { } with key value pairs eg 'Car1':Limo
4. Tuple = ( )

In [114]:
# Creating an empty Tuple
myTuple = tuple() # or myTuple = ()
type(myTuple)

tuple

In [129]:
myTuple = ("Prabin","Robin","Antimal","Rnter","Prabin")
myTuple

('Prabin', 'Robin', 'Antimal', 'Rnter', 'Prabin')

In [130]:
myTuple.count("Prabin")

2

In [140]:
print(myTuple.index("Antimal"))
myTuple[2]

2

'Antimal'

In [141]:
# lets check if we can assin value with index
myTuple[2] = "Ramosa"      # cant assing value after creation

TypeError: 'tuple' object does not support item assignment

In [159]:
# We can convert tuple into list or sets by typecasting
list(myTuple)

['Prabin', 'Robin', 'Antimal', 'Rnter', 'Prabin']